.pi-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.pi-ul>li {
    position: relative;
}

.pi-li {
    left: calc(-1 * 2em);
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 2em;
}

.pi-stack {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.pi-stack>i {
    position: absolute;
    text-align: center;
}